@import "tailwindcss";

:root {
    /* Primary Colors */
    --color-primary-orange: #FF5A00;
    --color-primary-dark-blue: #08283B;

    /* Secondary Colors */
    --color-secondary-light-blue: #5DAFF6;
    --color-secondary-royal-blue: #040DBF;
    --color-secondary-yellow: #FEBE00;
    --color-secondary-dark-gray: #3E3D3A;
    --color-secondary-light-gray: #909090;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-primary-dark-blue);
    color: var(--color-secondary-light-gray);
    line-height: 1.6;
}